In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
import seaborn as sns
import nltk
import re
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.corpus import stopwords
from wordcloud import WordCloud
from sklearn.model_selection import train_test_split

In [16]:
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to C:\Users\Akshay
[nltk_data]     Thorave\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to C:\Users\Akshay
[nltk_data]     Thorave\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [3]:
!git init

Reinitialized existing Git repository in C:/Users/Akshay Thorave/Desktop/AML_Assignment2/.git/

In [4]:
!dvc init -f

Initialized DVC repository.

You can now commit the changes to git.

+---------------------------------------------------------------------+
|                                                                     |
|        DVC has enabled anonymous aggregate usage analytics.         |
|     Read the analytics documentation (and how to opt-out) here:     |
|             <https://dvc.org/doc/user-guide/analytics>              |
|                                                                     |
+---------------------------------------------------------------------+

What's next?
------------
- Check out the documentation: <https://dvc.org/doc>
- Get help and share ideas: <https://dvc.org/chat>
- Star us on GitHub: <https://github.com/iterative/dvc>

In [5]:
!dvc config core.autostage true

In [6]:
!git status

On branch main
Your branch is up to date with 'origin/main'.

Changes to be committed:
  (use "git restore --staged <file>..." to unstage)
	new file:   .dvc/.gitignore
	new file:   .dvc/config
	new file:   .dvcignore

Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
	modified:   .dvc/config

Untracked files:
  (use "git add <file>..." to include in what will be committed)
	.ipynb_checkpoints/
	Untitled.ipynb

In [7]:
data = pd.read_csv("emails.csv")

In [8]:
data.head()

                                                text  spam
0  Subject: naturally irresistible your corporate...     1
1  Subject: the stock trading gunslinger  fanny i...     1
2  Subject: unbelievable new homes made easy  im ...     1
3  Subject: 4 color printing special  request add...     1
4  Subject: do not have money , get software cds ...     1

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5728 entries, 0 to 5727
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    5728 non-null   object
 1   spam    5728 non-null   int64
dtypes: int64(1), object(1)
memory usage: 89.6+ KB

In [10]:
data.isnull().sum()

text    0
spam    0
dtype: int64

In [11]:
data.duplicated().sum()

33

In [12]:
data = data.drop_duplicates(keep = 'first')

In [13]:
data['spam'].value_counts()

0    4327
1    1368
Name: spam, dtype: int64

In [18]:
def text_processing(text):
    # Convert text to lowercase
    text = text.lower()
    
    # Remove punctuation and special characters
    text = re.sub(r'[^a-zA-Z0-9\s]', '', text)
    
    # Use regex to remove all digits (numbers)
    text = re.sub(r'\d+', '', text)
    
    # Remove extra whitespaces
    text = ' '.join(text.split())
    
    # converting normalized text into tokens
    tokens = nltk.word_tokenize(text)
    
    # removing stopwords
    y = []
    for token in tokens:
        if token not in stopwords.words('english'):
            y.append(token)
    
    return " ".join(y[1:])    # every row contains a word,'subject' which is useless so we are removing that word

In [21]:
data = data.copy()

data['processed_text'] = data['text'].apply(text_processing)

In [22]:
data.drop(columns = ['text'], inplace = True)
data

      spam                                     processed_text
0        1  naturally irresistible corporate identity lt r...
1        1  stock trading gunslinger fanny merrill muzo co...
2        1  unbelievable new homes made easy im wanting sh...
3        1  color printing special request additional info...
4        1  money get software cds software compatibility ...
...    ...                                                ...
5723     0  research development charges gpg forwarded shi...
5724     0  receipts visit jim thanks invitation visit lsu...
5725     0  enron case study update wow day super thank mu...
5726     0  interest david please call shirley crenshaw as...
5727     0  news aurora update aurora version fastest mode...

[5695 rows x 2 columns]

In [23]:
X = data['processed_text']

y = data['spam']

X_train_val, X_test, y_train_val, y_test = train_test_split(X,y, test_size = 0.2, random_state = 251)

X_train, X_val, y_train, y_val = train_test_split(X_train_val,y_train_val, test_size = 0.25, random_state = 501)

In [24]:
X_train_df = pd.DataFrame()

X_train_df['Email'] = X_train
X_train_df['Spam'] = y_train
X_train_df

                                                  Email  Spam
705   extra inches makes massive difference girlfrie...     1
1118  save money getting oem software need software ...     1
4351  lng models guys please take look eric please s...     0
57    information final notification aimed make cont...     1
3865  proposal christie thanks helping attached one ...     0
...                                                 ...   ...
3603  password pjm basics dear pjm attendees pjm bas...     0
5221  celebration excited boss mike robert wondering...     0
4921  pjm customer load reduction pilot program appr...     0
1980  steve trip houston dale richard ready cover co...     0
4496  risk desk issue hello listen wanted make sure ...     0

[3417 rows x 2 columns]

In [25]:
X_test_df = pd.DataFrame()

X_test_df['Email'] = X_test
X_test_df['Spam'] = y_test
X_test_df

                                                  Email  Spam
4569  elena chilkha please fill evaluation sheets el...     0
4119  uc berkeley graduate student molly would like ...     0
315   discount adobe titles opt email special offer ...     1
618   save money buy getting thing tried cialls yet ...     1
4331  thur fri austin trip presentation risk managem...     0
...                                                 ...   ...
2964  progress fyi days optimistic core value optimi...     0
4161  masayuki fujita mitsubishi research institute ...     0
4430  churn list vince new location nd floor wonderf...     0
3941  wharton dinner jennifer thanks note trip detai...     0
2469  friend mine shirley please arrange phone inter...     0

[1139 rows x 2 columns]

In [26]:
X_val_df = pd.DataFrame()

X_val_df['Email'] = X_val
X_val_df['Spam'] = y_val
X_val_df

                                                  Email  Spam
5068  enron wefa luncheon may lloyd vince asked forw...     0
1432  continuation spanish classes roy spoke vince a...     0
4925  colossal dangerous failure cera alert title co...     0
1968  meeting sorry rescheduling shalesh unable make...     0
1589  telephone interview hi darlene vince kaminski ...     0
...                                                 ...   ...
3523  fwd hea renewals crawfish boil teaser shirley ...     0
1858  inquery aluminium companies vince margaret men...     0
3330  approval restricted websit web research pub pe...     0
2214  nymex volumes rebuttal vince need numbers tomo...     0
248   entrust visual identity us thinking breathing ...     1

[1139 rows x 2 columns]

In [27]:
X_train_df.to_csv('train.csv',index = False)
X_test_df.to_csv('test.csv',index = False)
X_val_df.to_csv('validation.csv',index = False)

In [28]:
!dvc add train.csv validation.csv test.csv

In [29]:
!git add train.csv.dvc validation.csv.dvc test.csv.dvc

In [30]:
!git commit -m 'First version created'

error: pathspec 'version' did not match any file(s) known to git
error: pathspec 'created'' did not match any file(s) known to git